.App {
  display: flex;
  height: 100vh;
}

.group-list-container {
  width: 25%;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
}

.create-group-button {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #070b0e;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.create-group-button:hover {
  background-color: #0056b3;
}

.main-content {
  width: 75%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}



